<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hotel Booking</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="../../static/img/favicon.ico" sizes="16x16">

        <!-- fonts -->
		<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Karla:700,400' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>

        <!-- fontawesome -->
		<link rel="stylesheet" href="../../static/css/font-awesome.css" />

        <!-- bootstrap -->
		<link rel="stylesheet" href="../../static/css/bootstrap.min.css" />

        <!-- uikit -->
        <link rel="stylesheet" href="../../static/css/uikit.min.css" />

        <!-- animate -->
        <link rel="stylesheet" href="../../static/css/animate.css" />
        <link rel="stylesheet" href="../../static/css/datepicker.css" />
        <!-- Owl carousel 2 css -->
        <link rel="stylesheet" href="../../static/css/owl.carousel.css">
        <!-- rev slider -->
        <link rel="stylesheet" href="../../static/css/rev-slider/settings.css" />
        <!-- lightslider -->
        <link rel="stylesheet" href="../../static/css/lightslider.css">
        <!-- Theme -->
        <link rel="stylesheet" href="../../static/css/reset.css">
        
        <!-- custom css -->
		<link rel="stylesheet" href="../../static/style.css" />
        <!-- responsive -->
		<link rel="stylesheet" href="../../static/css/responsive.css" />

    </head>
    <body id="contact_us_page">

        
        <!-- start header -->
        <header class="header_area">

            <!-- start main header -->
            <div class="main_header_area">
                <div class="container">
                    <!-- start mainmenu & logo -->
                    <div class="mainmenu">
                        <div id="nav">
                            <nav class="navbar navbar-default">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                  </button>
                                  <div class="site_logo fix">
                                      <a id="brand" class="clearfix navbar-brand" href="{{ url_for('home') }}"><img src="../../static/img/site-logo.png" alt="Trips"></a>
                                      <!-- <div class="header_login floatleft">
                                          <ul>
                                              <li><a href="#">Login</a></li>
                                              <li><a href="#">Register</a></li>
                                          </ul>
                                      </div>   -->         
                                  </div>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                    {% if session['level'] == 'Admin' : %}
                                    <li><a href="{{ url_for('home') }}">Home</a></li>
                                    <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
                                    <li role="presentation" class="dropdown">
                                        <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                        role="button" aria-expanded="false">
                                        Features
                                        </a>
                                        <ul id="menu2" class="dropdown-menu" role="menu">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('about') }}">About US</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('booking_home') }}">Booking</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('staff') }}">Our Staff</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('new') }}">News</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{{ url_for('account') }}">Configulation</a></li>
                    
                                    {% else :%}
                    
                                    <li><a href="{{ url_for('home') }}">Home</a></li>
                                    <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
                                    <li role="presentation" class="dropdown">
                                        <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                        role="button" aria-expanded="false">
                                        Features
                                        </a>
                                        <ul id="menu2" class="dropdown-menu" role="menu">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('about') }}">About US</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('booking_home') }}">Booking</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('staff') }}">Our Staff</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{{ url_for('new') }}">News</a></li>
                                    <li><a href="{{ url_for('contacts') }}">Contacts</a></li>
                                    
                                    {% endif %}
                                    <li class="nav-item dropdown">
                                        <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                        role="button" aria-expanded="false">
                                        {{ session.username }}
                                        </a>
                                        <ul id="menu2" class="dropdown-menu" role="menu">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{url_for('setting')}}">Setting</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{url_for('logout')}}">Logout</a></li>
                                        
                                        </ul>
                                    </li>
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </nav>
                        </div>
                    </div>
                    <!-- end mainmenu and logo -->
                </div>
            </div>
            <!-- end main header -->

        </header>
        <!-- end header -->
        
        <!-- start breadcrumb -->
        <section class="breadcrumb_main_area margin-bottom-80">
            <div class="container-fluid">
                <div class="row">
                    <div class="breadcrumb_main nice_title">
                        <h2>Contact Us</h2>
                        <!-- special offer start -->
                        <div class="special_offer_main">
                            <div class="container">
                                <div class="special_offer_sub">
                                    <img src="../../static/img/special-offer-yellow-main.png" alt="imf">
                                </div>
                            </div>
                        </div>         
                        <!-- end offer start -->
                    </div>
                </div>
            </div>            
        </section>
        <!-- end breadcrunb -->

        <!-- start other detect room section -->
        <div class="contact_google_map_area margin-bottom-75">
            <div class="container">
                <div class="contact_google_map">
                    <script src="http://maps.googleapis.com/maps/api/js"></script>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.161660915177!2d108.1726854747984!3d16.057098684620662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142191a7c27d66d%3A0xa3f3faa7e326af4c!2zMDUgSMOyYSBBbiAxMiwgSG_DoCBBbiwgQ-G6qW0gTOG7hywgxJDDoCBO4bq1bmcgNTUwMDAwLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1684997306683!5m2!1svi!2s" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
                    </script>
                </div>
            </div>
        </div>
        <!-- end other detect room section -->

        <!-- start contact mail area -->
        <section class="contact_mail_area margin-bottom-90">
            <div class="container">
                <div class="row">
                    <div class="contact_mail">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="send_mail">
                                <div class="section_title margin-bottom-40">
                                    <h4>send us an email</h4>
                                </div>
                                <form action="{{ url_for('insertcontact') }}" method="post">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <input type="text" placeholder="First Name *" name="f_name" id="f_name" required>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="text" placeholder="Last Name *" required name="l_name" id="l_name">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input  type="text" placeholder="Your Email Id *" required name="email" id="em"/>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input  type="text" placeholder="Phone Number *" required name="phone" id="phone"/>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <textarea name="message" placeholder="Message" required id="message"></textarea>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <!-- <a href="#" class="btn btn-warning btn-md"></a> -->
                                            <input class="btn btn-warning btn-md" type="submit" name="submit" value="Submit Now" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="contact_info margin-top-65">
                                <div class="section_title margin-bottom-45">
                                    <h4>Contact Info</h4>
                                </div>
                                <ul class="clearul">
                                    <li>
                                        <i class="fa fa-map-marker"></i>
                                        05 Hòa An 12, Hoà An, Cẩm Lệ, Đà Nẵng 550000, Việt Nam
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        1234567890
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope-o"></i>
                                        info@hotelbooking.com
                                    </li>
                                </ul>
                                <div class="social_icons clearfix">
                                    <ul class="clearul">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end contact mail area -->

        <!-- start contact us area -->
        <section class="contact_us_area content-left">
            <div class="container">
                <div class="contact_us clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="call clearfix">
                            <h6>Call Us</h6>
                            <p>123 456 7890</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="email_us clearfix">
                            <h6>Email us</h6>
                            <p>info@hotelbooking.com</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="news_letter clearfix">
                            <input type="text" placeholder="Enter ID  for News Letter">
                            <a href="#" class="btn btn-blue">go</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="social_icons clearfix">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end contact us area -->

        
    
        <!-- start footer -->
        <footer class="footer_area">
            <div class="container">
                <div class="footer">
                    <div class="footer_top padding-top-80 clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="footer_widget">
                                <div class="footer_logo">
                                    <a href="#"><img src="../../static/img/footer-logo-one.png" alt="img"></a>
                                </div>
                                <p>At Hotel, we are aiming at being the most trusted hotel for the guests, owners, employees and community by providing consistent and personalized services. This is what gives meaning and values to our business and the working lives of ours.</p>
                                <ul>
                                    <li>
                                        <P><i class="fa fa-map-marker"></i>05 Hòa An 12, Hoà An, Cẩm Lệ, Đà Nẵng 550000, Việt Nam</P>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="row">
                                <div class="footer_widget clearfix">
                                    <h5 class="padding-left-15">Quick Links</h5>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <ul>
                                            <li><a href="#">Rooms</a></li>
                                            <li><a href="#">Food & Drinks</a></li>
                                            <li><a href="#">Beach Venues</a></li>
                                            <li><a href="#">Amenities</a></li>
                                        </ul>  
                                    </div>
                                    <div class="col-lg-6 col-md-6 sol-sm-6">
                                        <ul>
                                            <li><a href="#">Noordwijk</a></li>
                                            <li><a href="#">Wellness</a></li>
                                            <li><a href="#">Manifesto</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="footer_widget">
                                <h5>We Are Global</h5>
                                <div class="footer_map">
                                    <a href="#"><img src="../../static/img/footer-map-two.jpg" alt="img"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="footer_copyright margin-tb-50 content-center">
                                <p>© 2023 <a href="#">Hotelbooking</a>. All rights reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
		
		
		
        <!-- jquery library -->
        <script src="../../static/js/vendor/jquery-1.11.2.min.js"></script>
        <!-- bootstrap -->
        <script src="../../static/js/bootstrap.min.js"></script>
        <!-- uikit -->
        <script src="../../static/js/uikit.min.js"></script>
        <!-- easing -->
		<script src="../../static/js/jquery.easing.1.3.min.js"></script>
        <script src="../../static/js/datepicker.js"></script>
        <!-- scroll up -->
        <script src="../../static/js/jquery.scrollUp.min.js"></script>
        <!-- owlcarousel -->
        <script src="../../static/js/owl.carousel.min.js"></script>
        <!-- lightslider -->
        <script src="../../static/js/lightslider.js"></script>
        <!-- wow Animation -->
        <script src="../../static/js/wow.min.js"></script>
        <!--Activating WOW Animation only for modern browser-->
        <!--[if !IE]><!-->
        <script type="text/javascript">new WOW().init();</script>
        <!--<![endif]-->

        <!--Oh Yes, IE 9+ Supports animation, lets activate for IE 9+-->
        <!--[if gte IE 9]>
            <script type="text/javascript">new WOW().init();</script>
        <![endif]-->         

        <!--Opacity & Other IE fix for older browser-->
        <!--[if lte IE 8]>
            <script type="text/javascript" src="js/ie-opacity-polyfill.js"></script>
        <![endif]-->



        <!-- my js -->
        <script src="../../static/js/main.js"></script>

        <!-- Google maps API -->
        
           
    </body>
</html>
