{% extends 'share/service/masterservice.html' %}
{% block title %} room {% endblock %}


{% block content %}
<!-- start breadcrumb -->
<section class="breadcrumb_main_area margin-bottom-80">
    <div class="container-fluid">
        <div class="row">
            <div class="breadcrumb_main nice_title">
                <h2>News</h2>
                <!-- special offer start -->
                <div class="special_offer_main">
                    <div class="container">
                        <div class="special_offer_sub">
                            <img src="static/img/special-offer-yellow-main.png" alt="imf">
                        </div>
                    </div>
                </div>
                <!-- end offer start -->
            </div>
        </div>
    </div>
</section>
<!-- end breadcrunb -->

<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="clearfix blog_inner" data-uk-grid>
                    {% for tin in orderdata %}
                    <div class="margin-bottom-30 col-md-4 col-sm-6 col-xs-12">
                        <div class="single_blog_style1">
                            <div class="style_blog_img_box">
                                <img src="{{ url_for('static', filename='img/' + tin[4] )}}" alt="img" />
                                <a class="style_b_link" href=""><i class="fa fa-link"></i></a>
                            </div>
                            <div class="at_love"><i class="fa fa-heart"></i></div>
                            <div class="blog_text_box">
                                <h5>{{ tin[1] }}</h5>
                                <ul class="clearfix">
                                    <li><a href="">By {{ tin[6] }} |</a></li>
                                    <li><a href="">{{ tin[5] }} |</a></li>
                                </ul>
                                <p>{{ tin[2] }} </p>
                                <a href="static/single-blog.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>


                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="load_more">
                        <a href="{{ url_for('addnew') }}">Make A News</a>
                    </div>
                </div> -->


            </div>
        </div>
    </div>
</section>

<!-- start contact us area -->
<section class="contact_us_area content-left">
    <div class="container">
        <div class="contact_us clearfix">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="call clearfix">
                    <h6>Call Us</h6>
                    <p>123 456 7890</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="email_us clearfix">
                    <h6>Email us</h6>
                    <p>info@hotelbooking.com</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="news_letter clearfix">
                    <input type="text" placeholder="Enter ID  for News Letter">
                    <a href="#" class="btn btn-blue">go</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="social_icons clearfix">
                    <ul class="clearfix">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact us area -->
{% endblock %}