<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hotel Booking</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="../../static/img/favicon.ico" sizes="16x16">

        <!-- fonts -->
		<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Karla:700,400' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>

        <!-- fontawesome -->
		<link rel="stylesheet" href="../../static/css/font-awesome.css" />

        <!-- bootstrap -->
		<link rel="stylesheet" href="../../static/css/bootstrap.min.css" />

        <!-- uikit -->
        <!-- <link rel="stylesheet" href="css/uikit.min.css" /> -->
        <!-- <link rel="stylesheet" href="css/uikit.docs.min.css" /> -->

        <!-- animate -->
        <link rel="stylesheet" href="../../static/css/animate.css" />
        <link rel="stylesheet" href="../../static/css/datepicker.css" />
        <!-- Owl carousel 2 css -->
        <link rel="stylesheet" href="../../static/css/owl.carousel.css">
        <!-- rev slider -->
        <link rel="stylesheet" href="../../static/css/rev-slider/settings.css" />
        <!-- lightslider -->
        <link rel="stylesheet" href="../../static/css/lightslider.css">
        <!-- Theme -->
        <link rel="stylesheet" href="../../static/css/reset.css">
        
        <!-- custom css -->
		<link rel="stylesheet" href="../../static/style.css" />
        <!-- responsive -->
		<link rel="stylesheet" href="../../static/css/responsive.css" />
    </head>

    <!-- start header -->
    <header class="header_area">

        <!-- start main header -->
        <div class="main_header_area">
            <div class="container">
                <!-- start mainmenu & logo -->
                <div class="mainmenu">
                    <div id="nav">
                        <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                              <div class="site_logo fix">
                                  <a id="brand" class="clearfix navbar-brand" href="{{ url_for('home') }}"><img src="../../static/img/site-logo.png" alt="Trips"></a>
                                  <!-- <div class="header_login floatleft">
                                      <ul>
                                          <li><a href="#">Login</a></li>
                                          <li><a href="#">Register</a></li>
                                      </ul>
                                  </div>   -->         
                              </div>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                {% if session['level'] == 'Admin' : %}
                                <li><a href="{{ url_for('home') }}">Home</a></li>
                                <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
                                <li role="presentation" class="dropdown">
                                    <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    role="button" aria-expanded="false">
                                    Features
                                    </a>
                                    <ul id="menu2" class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('about') }}">About US</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('booking_home') }}">Booking</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('staff') }}">Our Staff</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('new') }}">News</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ url_for('account') }}">Configulation</a></li>
                
                                {% else :%}
                
                                <li><a href="{{ url_for('home') }}">Home</a></li>
                                <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
                                <li role="presentation" class="dropdown">
                                    <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    role="button" aria-expanded="false">
                                    Features
                                    </a>
                                    <ul id="menu2" class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('about') }}">About US</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('booking_home') }}">Booking</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('staff') }}">Our Staff</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ url_for('new') }}">News</a></li>
                                <li><a href="{{ url_for('contacts') }}">Contacts</a></li>
                                
                                {% endif %}
                                <li class="nav-item dropdown">
                                    <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    role="button" aria-expanded="false">
                                    {{ session.username }}
                                    </a>
                                    <ul id="menu2" class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{url_for('setting')}}">Setting</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{url_for('logout')}}">Logout</a></li>
                                    
                                    </ul>
                                </li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </nav>
                    </div>
                </div>
                <!-- end mainmenu and logo -->
            </div>
        </div>
        <!-- end main header -->

    </header>
    <!-- end header -->
    
    <body id="booking_page">

        <!-- start breadcrumb -->
        <section class="breadcrumb_main_area margin-bottom-80">
            <div class="container-fluid">
                <div class="row">
                    <div class="breadcrumb_main nice_title">
                        <h2>Payment</h2>
                        <!-- special offer start -->
                        <div class="special_offer_main">
                            <div class="container">
                                <div class="special_offer_sub">
                                    <img src="../../static/img/special-offer-yellow-main.png" alt="imf">
                                </div>
                            </div>
                        </div>         
                        <!-- end offer start -->
                    </div>
                </div>
            </div>            
        </section>
        <!-- end breadcrunb -->

        <!-- start other detect room section -->
        <section class="booking_area">
            <div class="container">
                 <div class="booking">
                    <div role="tabpanel">
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist" style="margin-left: 490px;">
                        <li role="presentation" class="active">
                            <a href="#personal_info" aria-controls="personal_info" role="tab" data-toggle="tab"><i>2</i><span>personal info</span></a>
                        </li>
                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="personal_info">
                            <div class="personal_info_area">
                                <div class="hotel_booking_area">
                                    {% for room in orderdata %}
                                    
                                    <div class="hotel_booking margin-top-70 margin-bottom-125">
                                        
                                        <form action="{{ url_for('insertpayment_step2') }}" method="post"> 
                                            <div class="row">
                                                    <input type="hidden" value="{{ room[12] }}" class="form-control" id="user_id" name="user_id">
                                                    <!-- update roomcofig -->
                                                    <input type="hidden" value="{{ room[0] }}" class="form-control" id="roomid" name="roomid">
                                                    <input type="hidden" value="{{ room[13] }}" class="form-control" id="userr_id" name="userr_id">
                                                    <input type="hidden" class="form-control" value="{{ room[9] }}" placeholder="night" id="night" name="night">               
                                                    <!-- end -->
                                                <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                                    <label class="form-label" for="">Name</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Enter Your Name" id="customer" name="customer">               
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                                    <label class="form-label" for="">Email</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" value="{{ room[7] }}" placeholder="Enter Your Email" id="email" name="email">               
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                                    <div class="input-group">
                                                        <input type="hidden" class="form-control" value="{{ room[8] }}" placeholder="tax" id="tax" name="tax">               
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                                    <div class="input-group">
                                                        <input type="hidden" class="form-control" value="{{ room[9] }}" placeholder="night" id="night" name="night">               
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                                    <label class="form-label" for="">Total Price</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" value="{{ room[10]*(room[9]/2)+room[8] }}" placeholder="total" id="payed" name="payed">               
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                                    <label class="form-label" for="">Room Type</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" value="{{ room[11] }}" placeholder="Room type" id="room_type" name="room_type">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- update roomcofig -->
                                            <div class="row">
                                                <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                                    <label class="form-label" for="">Check In</label>
                                                    <div class="input-group">
                                                        <input type="date" class="form-control" value="{{ room[11] }}"  min="{{ date.today().strftime('%Y-%m-%d') }}" placeholder="checkin" id="checkin" name="checkin">               
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-6 col-md-6 col-sm-6 ">
                                                    <label class="form-label" for="">Check Out</label>
                                                    <div class="input-group">
                                                        <input type="date" class="form-control" value="{{ room[12] }}"  min="{{ date.today().strftime('%Y-%m-%d') }}" placeholder="checkout" id="checkout" name="checkout">               
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end -->
                                            
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="booking_next_btn padding-top-30 margin-top-50 clearfix border-top-whitesmoke">
                                                        <a href="{{ url_for('payment', id=room[0])}}" class="btn btn-warning btn-sm btn-info">back</a>
                                                        <button type="submit" class="btn btn-warning btn-sm floatright">Next</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                      </div>

                    </div>

                  </div>
            </div>
        </section>
        <!-- end other detect room section -->


        <!-- start contact us area -->
        <section class="contact_us_area content-left">
            <div class="container">
                <div class="contact_us clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="call clearfix">
                            <h6>Call Us</h6>
                            <p>123 456 7890</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="email_us clearfix">
                            <h6>Email us</h6>
                            <p>info@hotelbooking.com</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="news_letter clearfix">
                            <input type="text" placeholder="Enter ID  for News Letter">
                            <a href="#" class="btn btn-blue">go</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="social_icons clearfix">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end contact us area -->

        
        <!-- start footer -->
        <footer class="footer_area">
            <div class="container">
                <div class="footer">
                    <div class="footer_top padding-top-80 clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="footer_widget">
                                <div class="footer_logo">
                                    <a href="#"><img src="../../static/img/footer-logo-one.png" alt="img"></a>
                                </div>
                                <p>At Hotel, we are aiming at being the most trusted hotel for the guests, owners, employees and community by providing consistent and personalized services. This is what gives meaning and values to our business and the working lives of ours.</p>
                                <ul>
                                    <li>
                                        <P><i class="fa fa-map-marker"></i>05 Hòa An 12, Hoà An, Cẩm Lệ, Đà Nẵng 550000, Việt Nam</P>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="row">
                                <div class="footer_widget clearfix">
                                    <h5 class="padding-left-15">Quick Links</h5>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <ul>
                                            <li><a href="#">Rooms</a></li>
                                            <li><a href="#">Food & Drinks</a></li>
                                            <li><a href="#">Beach Venues</a></li>
                                            <li><a href="#">Amenities</a></li>
                                        </ul>  
                                    </div>
                                    <div class="col-lg-6 col-md-6 sol-sm-6">
                                        <ul>
                                            <li><a href="#">Noordwijk</a></li>
                                            <li><a href="#">Wellness</a></li>
                                            <li><a href="#">Manifesto</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="footer_widget">
                                <h5>We Are Global</h5>
                                <div class="footer_map">
                                    <a href="#"><img src="../../static/img/footer-map-two.jpg" alt="img"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="footer_copyright margin-tb-50 content-center">
                                <p>© 2023 <a href="#">Hotelbooking</a>. All rights reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
		
		
		
        <!-- jquery library -->
        <script src="../../static/js/vendor/jquery-1.11.2.min.js"></script>
        <!-- bootstrap -->
        <script src="../../static/js/bootstrap.min.js"></script>
		
        <!-- easing -->
		<script src="../../static/js/jquery.easing.1.3.min.js"></script>
        <script src="../../static/js/datepicker.js"></script>
        <!-- scroll up -->
        <script src="../../static/js/jquery.scrollUp.min.js"></script>
        <!-- owlcarousel -->
        <script src="../../static/js/owl.carousel.min.js"></script>
        <!-- lightslider -->
        <script src="../../static/js/lightslider.js"></script>
        <!-- wow Animation -->
        <script src="../../static/js/wow.min.js"></script>
        <!--Activating WOW Animation only for modern browser-->
        <!--[if !IE]><!-->
        <script type="text/javascript">new WOW().init();</script>
        <!--<![endif]-->
        <!-- my js -->
        <script src="../../static/js/main.js"></script>
		
    </body>
</html>
