{% extends 'pages/login_register/login_regis_base.html' %}
{% block title %} Login {% endblock %}


{% block content %}

    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-1">
        <div class="w-100 d-lg-flex align-items-center justify-content-center px-5"><img class="img-fluid" src="../../../static/img/lightslider-img/cS-48.JPG" alt="Login V2" /></div>
    </div>
    <!-- /Left Text-->
    <!-- Login-->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
        <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
            <h2 class="card-title fw-bold mb-1">Welcome to Hotel! 👋</h2>
            <p class="card-text mb-2">Please sign-in to your account and start the adventure</p>
            <!-- flash message -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <!-- alert -->
                <div class="alert alert-{{ category }} alert-dismissible fade show text-center" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>                    
                {% endfor %}                   
            {% endif %}
            {% endwith %}
            <form class="auth-login-form mt-2" action="{{ url_for('login') }}" method="POST">
                <div class="mb-1">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" id="email" type="text" name="email" placeholder="john@example.com" aria-describedby="email" autofocus="" tabindex="1" />
                </div>
                <div class="mb-1">
                    <div class="d-flex justify-content-between">
                        <label class="form-label" for="password">Password</label><a href="{{ url_for('forgotpassword') }}"><small>Forgot Password?</small></a>
                    </div>
                    <div class="input-group input-group-merge form-password-toggle">
                        <input class="form-control form-control-merge" id="password" type="password" name="password" placeholder="············" aria-describedby="password" tabindex="2" /><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                    </div>
                </div>
                <div class="mb-1">
                    <div class="form-check">
                        <input class="form-check-input" id="remember-me" type="checkbox" tabindex="3" />
                        <label class="form-check-label" for="remember-me"> Remember Me</label>
                    </div>
                </div>
                <button class="btn btn-primary w-100" tabindex="4">Sign in</button>
            </form>
            <p class="text-center mt-2"><span>New on our platform?</span><a href="{{ url_for('register') }}"><span>&nbsp;Create an account</span></a></p>
            <div class="divider my-2">
                <div class="divider-text">or</div>
            </div>
            <div class="auth-footer-btn d-flex justify-content-center"><a class="btn btn-facebook" href="#"><i data-feather="facebook"></i></a><a class="btn btn-twitter white" href="#"><i data-feather="twitter"></i></a><a class="btn btn-google" href="#"><i data-feather="mail"></i></a><a class="btn btn-github" href="#"><i data-feather="github"></i></a></div>
        </div>
    </div>
    <!-- /Login-->

{% endblock %}