<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hotel Booking</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="static/img/favicon.ico" sizes="16x16">
        
        {% include'share/service/css_service.html' %}


    </head>
    <body id="accomodation_page">

        
        {% include'share/header.html' %}

        
        {% block content %}

        {% endblock %}
        
    
        {% include'share/footer.html' %}
		
		
		{% include'share/service/js_service.html' %}
        
		
    </body>
</html>
