{% extends 'share/admin/admin_base.html' %}
{% block title %} Facility Menu {% endblock %}

{% block content %} 
  <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center mt-5 mb-3">
        </div>
    </div>
    <div class="card">
        <h5 class="card-header text-center">
            Add Facility
        </h5>

        <div class="row">
            <div class="col">
              <!-- flash message -->
              {% with messages = get_flashed_messages() %}
            {% if messages %}
          
            {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Process Complete.</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
            {% endfor %}
          
            {% endif %}
            {% endwith %}
            </div>
          </div>

        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <form action="{{ url_for('facilityinsert') }}" method="post">
                        <div class="mb-3">
                            <label for="f_name" class="form-label">Name Facility</label>
                            <input type="text" class="form-control" id="f_name" placeholder="Enter name Facility" name="f_name"
                            autocomplete="off" required>
                        </div>
                        <div class="mb-3">
                          <label for="f_info" class="form-label">Facility Config</label>
                          <textarea class="form-control" id="f_info" rows="3" name="f_info" 
                          autocomplete="off" required></textarea>
                      </div>
                        <div class="mb-3">
                            <label for="f_price" class="form-label">Price</label>
                            <input type="text" class="form-control" id="f_price" placeholder="Enter Facility price $" name="f_price"
                            autocomplete="off" required>
                        </div>
                        
                        <div class="mb-3">
                            <label for="f_img" class="form-label">Image</label>
                            <input type="file" class="form-control" id="f_img" placeholder="Enter Image" name="f_img"
                            autocomplete="off" required>
                        </div>
                        
                        <div class="text-end">
                          <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
