{% extends 'share/admin/admin_base.html' %}
{% block title %} data facility {% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row">
      <div class="col text-center mt-5">
          <h2>Data Facility</h2>
      </div>
  </div>
      <div class="row">
        <div class="col">
          <!-- flash message -->
          {% with messages = get_flashed_messages() %}
        {% if messages %}
       
        {% for message in messages %}
       <div class="alert alert-success alert-dismissible fade show" role="alert">
         <strong>Process Complete.</strong> {{ message }}
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
       </div>
        {% endfor %}
       
        {% endif %}
        {% endwith %}
        </div>
      </div>
      <div class="row">
          <div class="col">
              <table class="table" id="facilitydata">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name Facility</th>
                      <th scope="col">Facility information</th>
                      <th scope="col">Facility Price</th>
                      <th scope="col">Image</th>
                      <th scope="col" style="text-align: center;">ACTION</th>
                      <th scope="col" style="text-align: center; color: red;">STATUS</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for row in orderdata  %}
                    <tr>
                      <th scope="row">{{ loop.index }} </th>
                      <td class="text-center">{{row[1]}}</td>
                      <td class="text-center">{{row[2]}}</td>
                      <td class="text-center">{{row[3]}}</td>
                      <td><img src="../static/img/{{ row[4] }}" height="100px" width="100px" alt=""></td>
                      <td class="text-center">
                          <a href="" type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#detailModal{{row[0]}}">Detail</a>
                          <a href="" type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#updateModal{{row[0]}}" >Update</a>
                          <a href="{{ url_for('facilitydelete', id=row[0])}}" type="button" class="btn btn-outline-danger" onclick="confirm('Are you sure?')">Delete</a>
                      </td>
                      <td class="text-center">
                        {% if ( row[6] == "Available" ): %}
                        <a href="" type="button" class="btn btn-success">{{row[6]}}</a>
                        {% elif ( row[6] == "Unavailable" ): %}
                        <a href="" type="button" class="btn btn-danger">{{row[6]}}</a>
                        {% else :%}
                        <a href="" type="button" class="btn btn-warning">{{row[6]}}</a>
                        {% endif %}
                      </td>
                    </tr>
                      {% include "pages/admin/facilitydetail.html" %}
                      {% include "pages/admin/facilityupdate.html" %}
                      {% endfor %}
                  </tbody>
                </table>
                <!-- <p><strong style="color:red;">Attention !!!</strong></br>
                  Press the <strong style="color:green;">UPDATE</strong> button to make changes to the <strong style="color: goldenrod;">STATUS</strong></p> -->
          </div>
      </div>
  </div>
{% endblock %}
