<!-- Modal -->
<div class="modal fade" id="detailModal{{row[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">STAFF DETAIL</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2>STAFF ID : {{ row[0] }}</h2>
          <hr>
          <pre>
            Name            : {{ row [1] }}

            Email           : {{ row [2] }}

            Phone           : {{ row [3] }}

            Date of birth   : {{ row [4] }}

            Address         : {{ row [5] }}
        </pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>